@model Spice.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Simple Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../assets/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<div id="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <br />
            <h2 class="text-info">Category Details</h2>
            <br />
            <div class=" border  backgroundWhite">
                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-5">
                            <input asp-for="Name" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-5 offset-2">
                            <partial name="_DetailsAndBackToListButton" model="Model.Id" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        <script src="../../assets/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../assets/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../assets/dist/js/demo.js"></script>
    </nav>
</div>
