@model Spice.Models.ViewModels.NewsViewModel
@using Spice.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Create News</h2>
<br />
<script src="//cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.Header" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="News.Header" class="form-control" />
            </div>
            <span asp-validation-for="News.Header" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.ApplicationUserId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.News.ApplicationUserId" id="ApplicationUserId" asp-items="Model.ApplicationUsers.ToSelectListItem(Model.News.ApplicationUserId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.Alias" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="News.Alias" class="form-control" />
            </div>
            <span asp-validation-for="News.Alias" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.PublishedDate" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input id="today" type="date" asp-for="News.PublishedDate" class="form-control" readonly />
            </div>
            <span asp-validation-for="News.PublishedDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.MenuItemId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="News.MenuItemId" id="NewsCategoryId" asp-items="Model.MenuItems.ToSelectListItem(Model.News.MenuItemId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.Type" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="News.Type" asp-items="Html.GetEnumSelectList<News.EType>()" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-2">
                <label asp-for="News.Content" class="col-form-label"></label>
            </div>
            <textarea id="editor1" asp-for="News.Content"></textarea>
            <span asp-validation-for="News.Content" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="News.ImageHeader" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_CreateAndBackToListButton" />
        </div>
    </div>
</form>

<script type="text/javascript">
    CKEDITOR.replace('editor1', { width: 1000, height: 700 });
</script>
<script>
    document.querySelector("#today").valueAsDate = new Date()
    //document.getElementById("today").valueAsDate = new Date();

</script>
@section Scripts{


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}