@model Spice.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Delete";
}


<br />
<h2 class="text-info">Delete News</h2>
<br />
<script src="//cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>
<form method="post">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <input type="hidden" asp-for="News.Id" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="News.Header" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="News.Header" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="News.PublishedDate" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="News.PublishedDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="News.Alias" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="News.Alias" class="form-control" />
                    </div>
                </div>
                @*<div class="form-group row">
            <div class="col-4">
                <label asp-for="News.ApplicationUserId" class="custom-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="News.ApplicationUser.Name" class="form-control" />
            </div>
        </div>*@

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="News.Type" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <select id="TypeField" asp-for="News.Type" asp-items="Html.GetEnumSelectList<News.EType>()" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row" id="MenuItemField">
                    <div class="col-4">
                        <label asp-for="News.MenuItemId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="News.MenuItem.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="News.Content" class="custom-label"></label>
                    </div>
                    <textarea id="editor1" asp-for="News.Content" readonly></textarea>
                </div>
            </fieldset>
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.News.Id" />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    CKEDITOR.replace('editor1', { width: 1000, height: 700 });
</script>
@section Scripts{
    <script>
        $(document).ready(function () {

            $("#TypeField").html(function () {
                if ($(this).val() == 0) {
                    //$("#valueOfMenuItem").val($("#valueOfMenuItem option:first").val());
                    $("#MenuItemField").show();
                } else {
                    //$("#valueOfMenuItem").val(null);
                    $("#MenuItemField").hide();
                }
            });
        });
    </script>
}
