@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<span class="flaticon-user"></span>*@
@if (SignInManager.IsSignedIn(User))
{
    <li>        
        <a class="black-link" asp-area="Identity" asp-page="/Account/Manage/Index">@await Component.InvokeAsync("UserName") </a>
    </li>
    <li>        
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn-logout black-link">Logout</button>
        </form>   
    </li>
}
else
{
    <li>
        <a class="black-link" asp-area="Identity" asp-page="/Account/Register">Register </a>
    </li>
    <li>
        <a class="black-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
