<div class="container-fluid" style="padding:2% 20%">
    <h5>Thanks for comming with us, but based on the privacy of our services, we must satisfy the account you has just registered by your email.</h5>
    <h5>Please confirm it and continually dive into the whole experience of watch world with us.</h5>
    <h5>Or you can go back to our <a href="/Customer/Home/Index">home site </a>with many interesting watchs for you.</h5>
</div>
