@model List<FavoritedProduct>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.MenuItem.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.MenuItem.Name</h5>
                        <p class="card-text">@item.MenuItem.Price</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>