@{
    ViewData["Title"] = "Contact";
}

<!--? Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Contacts</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--? Hero Area End-->

<div class="container mt-5">
    <iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEBGNYcsskKEZ3wzdxCicHWrz_XAOnC3o&amp;q=University+of+Technology+and+Education+Ho+Chi+Minh+city%2C+V%C3%B5+V%C4%83n+Ng%C3%A2n%2C+Linh+Chi%E1%BB%83u%2C+Th%E1%BB%A7+%C4%90%E1%BB%A9c%2C+Ho+Chi+Minh+City&amp;zoom=15"
            width="100%" height="350px"></iframe>
</div>

<div class="container-fluid mt-5 m-auto" style="font-size: 1rem; width: 80%;">
    <div class="row p-lg-4 border-bottom">
        <div class="col-12 col-md-6 col-lg-3 p-3">
            <!-- Item -->
            <div class="d-flex mb-6 mb-lg-0">

                <!-- Icon -->
                <i class="fa fa-truck fa-2x text-primary pr-4"></i>

                <!-- Body -->
                <div class="ml-6">

                    <!-- Heading -->
                    <h6 class="heading-xxs mb-1">
                        Free shipping
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 font-size-sm text-muted">
                        From all orders over $100
                    </p>

                </div>

            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">

            <!-- Item -->
            <div class="d-flex mb-6 mb-lg-0">

                <!-- Icon -->
                <i class="fa fa-repeat fa-2x text-primary pr-4"></i>

                <!-- Body -->
                <div class="ml-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                        Free returns
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 font-size-sm text-muted">
                        Return money within 30 days
                    </p>

                </div>

            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">

            <!-- Item -->
            <div class="d-flex mb-6 mb-md-0">

                <!-- Icon -->
                <i class="fa fa-lock fa-2x text-primary pr-4"></i>

                <!-- Body -->
                <div class="ml-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                        Secure shopping
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 font-size-sm text-muted">
                        You're in safe hands
                    </p>

                </div>

            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3 p-3">

            <!-- Item -->
            <div class="d-flex">

                <!-- Icon -->
                <i class="fa fa-tag fa-2x text-primary pr-4"></i>

                <!-- Body -->
                <div class="ml-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                        Over 10,000 Styles
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 font-size-sm text-muted">
                        We have everything you need
                    </p>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="container mt-5" style="font-size: 1rem; width: 80%;">
    <div class="row">
        <div class="col-4">
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-home"></i></span>
                <div class="media-body">
                    <h3>Buttonwood, California.</h3>
                    <p>Rosemead, CA 91770</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                <div class="media-body">
                    <h3>+1 253 565 2365</h3>
                    <p>Mon to Fri 9am to 6pm</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-email"></i></span>
                <div class="media-body">
                    <h3>support@colorlib.com</h3>
                    <p>Send us your query anytime!</p>
                </div>
            </div>
        </div>
    </div>
</div>

