@model Spice.Models.News
@{
    ViewData["Title"] = "NewsPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid ">
        <div class="container">
            <div class=" backgroundWhite">
                <fieldset disabled>
                    <div class="col-12">
                        <h1>@Html.Raw(Model.Header)</h1>
                        <p style="color:gray;font-size:14px">@Html.Raw(Model.PublishedDate.ToLongDateString())</p>
                        <p class="col-10">@Html.Raw(Model.Content)</p>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
