@model Spice.Models.ViewModels.NewsViewModel
@{
    ViewData["Title"] = "SpecificNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="border backgroundWhite">
        <fieldset disabled>
            <div class="col-12">
            <h1>@Html.Raw(Model.News.Header)</h1>
            <p style="color:gray;font-size:14px">@Html.Raw(Model.News.DatePublished.ToLongDateString())</p>
            <p class="col-10">@Html.Raw(Model.News.Content)</p>
            <p style="text-align:right;margin-right: 320px"><i>Author</i></p>
            <p style="text-align:right;margin-right: 300px"><b>@Html.Raw(Model.News.Author)</b></p>
            </div>
        </fieldset>
    </div>