@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid ">
        <main role="main" class="pb-3">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </main>
    </div>

