@model Spice.Models.Chart.OverviewDataDashboad
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<style>
    .icon-button button {
        width: 60%;
        height: 70px;
        margin: 30px;
        background-color: white;
        border: none;
        padding: 0px;
        text-align: left;
        font-weight: 900;
    }

    .icon-button i {
        font-size: 40px;
        width: 70px;
        height: 70px;
        padding: 15px;
        text-align: center;
    }

    .icon-button {
        font-size: 20px
    }
</style>
<nav class="navbar navbar-default" style="background-color:white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Dashboard - The business overview</a>
        </div>
    </div>
</nav>
<div class="row icon-button">
    <div class="col-lg-3">
        <button><i class="far fa-user" style="background-color: #15aabf; color: white"></i>  USERS (@Model.userCount)</button>
    </div>
    <div class="col-lg-3">
        <button><i class="fas fa-shopping-cart" style="background-color: rgb(69, 118, 233); color: white"></i>  PRODUCT (@Model.productCount)</button>
    </div>
    <div class="col-lg-3">
        <button><i class="fas fa-heart" style="background-color: rgb(246, 76, 76); color: white"></i>  LIKE (@Model.likeCount)</button>
    </div>
    <div class="col-lg-3">
        <button><i class="far fa-star" style="background-color: rgb(241, 238, 131); color: white"></i>  RATING (@Model.ratingCount)</button>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

        </div>
    </div>
    <div class="row">
        <div id="categoryCircleChart" class="col-lg-6"></div>
        <div id="brandCircleChart" class="col-lg-6"></div>
    </div>
    <div class="row" style="margin-top:5%">
        <div id="lineChart" class="col-lg-6"></div>
        <div id="columnChart" class="col-lg-6"></div>
    </div>
</div>
<button><a asp-action="getCategoriesPercent">content</a></button>
@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawCategoryCircleChart);
        google.charts.setOnLoadCallback(drawBrandCircleChart);
        google.charts.setOnLoadCallback(drawBestSellerProductsColumnChart);
        google.charts.setOnLoadCallback(drawLineChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawCategoryCircleChart() {

            // Create the data table.
            let jsonData = $.ajax({
                url: "/Admin/Dashboard/getCategoriesPercent",
                dataType: "json",
                async: false
            }).responseText;

            // Create the data table.
            let data = new google.visualization.DataTable(jsonData);

            // Set chart options
            let options = {
                'title': 'The percent of all Categories in Shop',
                'width': 600,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            let chart = new google.visualization.PieChart(document.getElementById('categoryCircleChart'));
            chart.draw(data, options);
        }
        function drawBrandCircleChart() {

            // Create the data table.
            let jsonData = $.ajax({
                url: "/Admin/Dashboard/getBrandsPercent",
                dataType: "json",
                async: false
            }).responseText;

            // Create the data table.
            let data = new google.visualization.DataTable(jsonData);

            // Set chart options
            let options = {
                'title': 'The percent of all Brands in Shop',
                'width': 600,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            let chart = new google.visualization.PieChart(document.getElementById('brandCircleChart'));
            chart.draw(data, options);
        }


        function drawBestSellerProductsColumnChart() {

            // Create the data table.
            let jsonData = $.ajax({
                url: "/Admin/Dashboard/getBestSellerProducts",
                dataType: "json",
                async: false
            }).responseText;
            // Create the data table.
            let data = new google.visualization.DataTable(jsonData);

            // Set chart options
            let options = {
                'title': 'List of best seller product',
                'width': 600,
                'height': 350
            };

            // Instantiate and draw our chart, passing in some options.
            let chart = new google.visualization.ColumnChart(document.getElementById('columnChart'));
            chart.draw(data, options);
        }


        function drawLineChart() {
            // Create the data table.
            let jsonData = $.ajax({
                url: "/Admin/Dashboard/getProfits",
                dataType: "json",
                async: false
            }).responseText;
            // Create the data table.
            let data = new google.visualization.DataTable(jsonData);

            var options = {
                chart: {
                    title: 'Monthly Sales',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                },
                width: 600,
                height: 350
            };

            var chart = new google.visualization.LineChart(document.getElementById('lineChart'));

            chart.draw(data, options);
        }
    </script>
}
